input,
textarea {
    border: none;
    border-bottom: 1px solid #d4d4d4;
    width: calc(100% - 44px);
    margin: 0 20px 20px 20px;
    height: 60px;
    line-height: 18px;
    font-size: 16px;
    color: #000;
    font-family: 'Raleway';
}
textarea {
    padding-top: 30px;
}
input::placeholder {
    color: #000;
    opacity: 1;
    font-family: 'Raleway';
}

input:focus,
textarea:focus {
    outline: none !important;
    border-bottom: 1px solid #EF7D00;
    color: #EF7D00;
}

.form__label {
    display: block;
    position: absolute;
    margin-top: -50px;
    margin-left: 20px;
    
}

.active {
    margin-top: -80px;
}

input:focus + label.form__label{
    display: block;
    position: absolute;
    margin-top: -90px;
    margin-left: 20px;
    color: #EF7D00;
}

textarea:focus + label.form__label{
    display: block;
    position: absolute;
    padding-top: 20px;
    margin-top: -160px;
    margin-left: 20px;
    color: #EF7D00;
}
.form-label:last-child {
    margin-top: -40px;
}

.help {
    background-color: white;
    color: red;
    margin-left: 20px;
    bottom: 20px;
    visibility: hidden;
    position: relative;
}

form {
    margin-bottom: 30px;
}

#checkbox__form {
    width: 16px;
    height: 16px;
}

textarea {
    height: 120px;
    padding-bottom: 30px;
    font-family: 'Raleway';
}

.page__form--message {
    display: none;
}

.page__form__checkbox--wrapper {
    display: flex;
    font-size: 13px;
    line-height: 26px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 20px;   
}

.page__form__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    height: 70px;
    border: none;
    margin: 50px auto 40px auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'Raleway';
    letter-spacing: 2px;    
    transition: .3s;
}

.button-dark {    
    color: white;
    background-color: #EF7D00;
    box-shadow: 0 5px 15px 5px hsl(0, 0%, 90%);    
}


.button-light {    
    background-color: white;
    color: #EF7D00;
    box-shadow: 0 10px 40px rgba(239, 125, 0, 0.4);

}

.button-light:disabled {    
    background-color: white;
    color: #EF7D00;
    box-shadow: 0 10px 40px rgba(239, 125, 0, 0.4);
    cursor: default;
}

@media (min-width:1920px) {
    .page__form__button--dark, .input-slider {
        margin: 0;
        padding: 0;
        width: 236px;
    }
}

@media (min-width:1920px) {
    .page__form--buttons {
          margin-bottom: 20px;
        margin: 10px auto 10px auto;
    }
}

.page__form--buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    min-height: 280px;
    height: auto;   
}

@media (min-width:1920px) {
    .page__form--buttons {
        width: 500px;
        display: flex;
        flex-direction: row;
         min-height: 180px;
    }
}

.form__slider--wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 310px;
    height: 70px;
    border: 1px solid #EF7D00;
    background-color: #fff;
    color: #EF7D00;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: 1;
}

@media (min-width:1920px) {
    .form__slider--wrapper {
        width: 236px;
        margin-right: 20px;
        margin-bottom: -10px;     
    }
    .input-slider{
        width: 236px;
        
    }
    .page__form__button {
        width: 236px;       
    }
    .page__form__checkbox--wrapper {
      position: relative;  
    }
    .page__form__checkbox--wrapper .error-form {
    position: absolute;
    top: -40px;   
    width: 200px;
}
}

.input-slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    background-color: transparent;
    width: 100%;
    margin-bottom: -2px;
    border: none;
    margin-left: 0;
    margin-right: 0;
}

.input-slider:focus {
    border: none;
}

.input-slider:hover {
    opacity: 1;
}

.input-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 70px;
    background-color: #EF7D00;
    cursor: pointer;
    border: none;
    border-radius: 0;
}

.input-slider::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 70px;
    background-color: #EF7D00;
    cursor: pointer;
    border: none;
    border-radius: 0;
}

.slider-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    border: 1px solid #EF7D00;
    position: absolute;
    color: #EF7D00;
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: 2px;
    text-transform: uppercase;
    z-index: -1;
}

input[type="checkbox"]:checked + label::after {
   content: '';
   position: absolute;  
   top: 1ex;
   left: 0.8ex;
   height: 8px;
   width: 15px;
   border: 2px solid #EF7D00;
   border-top: none;
   border-right: none;
   transform: rotate(-60deg);
}

input[type="checkbox"] {
   line-height: 20px;
 
}

input[type="checkbox"] {
    position: absolute;
    left: -999em;
    margin-left: 10px ;
}

input[type="checkbox"] + label {
  padding-right: 30px;
    padding-left: 0;
}

input[type="checkbox"] + label { 
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
   content: "";
   display: inline-block;
   vertical-align: -25%;
   height: 25px;
   width: 25px;
   background-color: white;
   border: 1px solid rgb(166, 166, 166);
   border-radius: 4px;
   margin-right: 0.5em;
}


input[type="checkbox"]:focus + label::before{
    border: 1px solid #EF7D00;
}

.checkbox-text-wrapper{
    display: flex;
    flex-direction: column;
    margin-left: 0;
}

.form__wrapper--input form-control {
    position: relative;
}
div.error {
   display: block; 
   width: 100%;
   height: 20px;
   position: absolute;  
    color: red;     
    margin-left: 25px;
    margin-top: -23px; 
}

.checkbox-text-wrapper div.error {
    margin-left: 0;
}

.page__form__checkbox--wrapper div.error {
    margin-top: 120px;
}

.checkbox-text {
    display: inline-block;
    width: 100%;
}